[Desktop Entry]
Type=Application
Name=8B
Comment=Edit the button, stick and trigger profiles stored on 8BitDo controllers
Exec=8b
Icon=io.github.LucasPicoli._8B
Terminal=false
Categories=Settings;HardwareSettings;
